{% extends "footer.html" %}
{% block mainContent%}
{{ super() }}
<div class="main-content">
  <div id="pro-title">
    <h1>Advanced Air Separation Unit (ASU) for Low-Cost H<sub>2</sub> Production Via Modular Gasification
    </h1>
    <hr class="partial-hr-1">
    <br>
    <p class="contract-num">Contract Number
      : DE-FE0032328</p>
  </div>
  <div id="proj-des-n-cbp">
    <h3>Project Description</h3>
    <p> The goal for this project is to develop a modular, novel, sorbent-based, advanced air separation unit (ASU) for oxygen production to support low-cost hydrogen production from the gasification of biomass and/or wastes. You can find more info <a
        href="https://www.netl.doe.gov/project-information?p=FE0032328">here</a>.</p>
    <h3>CBP Summary</h3>
    <p>In this project, our CBP goal is to increase diversity, equity, inclusion and accessibility (DEIA) at TDA and in the workforce. As part of this program, we will employ and mentor college and high school interns, hold seminars at local schools, support early-career underrepresented engineers and scientists and institute DEIA training for project members.</p>
  </div>
  <div id="partner-cont">
    <h3>Our Partners</h3>
    <ul class="partners">
      <li class="partners-list"> University of Alberta (UOA)
        <a href="https://www.ualberta.ca/index.html"><img id="uoa-logo" alt = "University of Alberta"
            src="https://www.ualberta.ca/media-library/ualberta/homepage/university-of-alberta-logo.jpg"></a>
        <br>
        <p class="partner-des">Dr. Arvind Rajendran, of the University Alberta, is a well-known expert in pressure swing adsorption (PSA) cycle optimization. TDA will work with him to develop and demonstrate the new two-stage high purity oxygen generation process. </p>
      </li>
    </ul>
    <br>
  </div>
  <div id="deia-milestones">
    <h2>Milestones</h2>
    <hr class="partial-hr-1">
    <br>
    <table id="smart-id-table">
      <tr>
        <th>SMART Goal #</th>
        <th>Brief Description</th>
        <th>Metric</th>
        <th>Success</th>
      </tr>
      <tr>
        <td>1</td>
        <td>High School Seminar</td>
        <td># of attendees</td>
        <td>At least 10 students attend each seminar</td>
      </tr>
      <tr>
        <td>2</td>
        <td>High School Intern</td>
        <td># of underrepresented candidates in applicant pool</td>
        <td>Increase # of underrepresented candidates in applicant pool compared to previous intern pools</td>
      </tr>
      <tr>
        <td>3</td>
        <td>College Seminars</td>
        <td># of Attendees</td>
        <td>At least 10 students attend each seminar</td>
      </tr>
      <tr>
        <td>4</td>
        <td>College Intern</td>
        <td># of underrepresented candidates in applicant pool</td>
        <td>Increase # of underrepresented candidates in applicant pool compared to previous intern pools</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Society Meeting</td>
        <td># of meetings attended</td>
        <td>At least 1 meeting attended</td>
      </tr>
      <tr>
        <td>6</td>
        <td>DEIA Training at TDA</td>
        <td># of employees trained</td>
        <td>At least 5 employees trained</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Institute DEIA Tracking & Reporting</td>
        <td>% of staff that is underrepresented and budget</td>
        <td>>5% of project funds spent on DEIA</td>
      </tr>
    </table>
    <br>
    <div id = "col-exp">
      <p>See each goal bellow for more specific description, as well as the current progress of the goal.</p>
    </div>
    <div id="collap-list">
      <div id="smart-1">
        <button type="button" class="collapsible">SMART Goal #1<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>A project member presented a seminar at a local high school.</p>
          <h4 class = "cur-prog-title">Current Progress</h4>
          <div class = "cur-prog-cont">
            <ul class = "cur-prog-list">
              <li>
                <div class = "cur-act-title"> Arvada West High School Seminar</div>
                <p>We selected Arvada West High School in nearby Arvada which is located in a disadvantaged community.  The community is disadvantaged due to low income, traffic proximity and volume, proximity to a superfund site, wastewater discharge and lack of high school education.</p>
                <p>We contacted 2 STEM teachers at Arvada West by email and began corresponding with Serrano Elsa, the STEM teacher at Arvada West.  We initially planned that she would bring 100 students to visit TDA in early April but due to scheduling difficulties we have delayed these seminars to September.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="smart-2">
        <button type="button" class="collapsible">SMART Goal #2<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>Increase the diversity of the high school intern applicant pool.</p>
          <!-- <h4 class = "cur-prog-title">Current Progress</h4> -->
          <div class = "cur-prog-cont">
            <ul class = "cur-prog-list">
            </ul>
          </div>
        </div>
      </div>
      <div id="smart-3">
        <button type="button" class="collapsible">SMART Goal #3<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>A project member organized at least one seminar to share the results of the project, to students at a college or university.</p>
        </div>
      </div>
      <div id="smart-4">
        <button type="button" class="collapsible">SMART Goal #4<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>Increase the diversity of the intern applicant pool.</p>
          <h4 class = "cur-prog-title">Current Progress</h4>
          <div class = "cur-prog-cont">
            <ul class = "cur-prog-list">
              <li>
                <div class = "cur-act-title"> Job Postings </div>
                <p>We listed job postings for several interns:</p>
                <ol class = "cur-sub-list">
                  <li>Summer Engineering Intern (college)</li>
                  <li>Summer CAD Intern (college)</li>
                </ol>
                <p>To increase the diversity of the applicant pool, we posted the Summer Engineering Intern on the Society of Hispanic Professional Engineers (SHPE) website found <a href="https://shpe.org/">here</a> in addition to our standard websites where we post our job openings.</a>. </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="smart-5">
        <button type="button" class="collapsible">SMART Goal #5<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>Results of this project and its DEIA efforts were shared at a meeting of the Society of Hispanic Professional Engineers (SHPE), or the National Society of Black Engineers annual convention.</p>
        </div>
      </div>
      <div id="smart-6">
        <button type="button" class="collapsible">SMART Goal #6<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>Project members engaged in a DEIA training seminar sponsored by a nearby DEIA organization.</p>
        </div>
      </div>
      <div id="smart-7">
        <button type="button" class="collapsible">SMART Goal #7<p class = "plus-minus">&#43</p></button>
        <div class="col-cont">
          <h4>Goal Description</h4>
          <p>TDA tracked numbers of underrepresented staff members (as a percentage of staff) and funds spent on DEIA
            training and activities.</p>
          <!-- <h4 class = "cur-prog-title">Current Progress</h4> -->
          <div class = "cur-prog-cont">
            <ul class = "cur-prog-list">
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block title%}Air Separator{% endblock %}