{% extends "footer.html" %}
{% block mainContent%}
{{ super() }}
<div class = "main-content">
  <div id = "buzz-title-2">
    <h1>Acronym Table</h1>
    <hr class ='partial-hr-1'>
    <br>
  </div>
  <div id = "buzz-table">
    <table id = "buzz-tb">
      <tr>
        <th>Acronym</th>
        <th>What it Stands For</th>
      </tr>
      <tr>
        <td>DEIA</td>
        <td>Diversity, Equity, Inclusion, and Accessibility</td>
      </tr>
      <tr>
        <td>DEI</td>
        <td>Diversity, Equity, and Inclusion</td>
      </tr>
      <tr>
        <td>CBP</td>
        <td>Community Benefit Plan</td>
      </tr>
      <tr>
        <td>BP</td>
        <td>Budget Period</td>
      </tr>
      <tr>
        <td>SCI</td>
        <td>Societal Considerations and Impacts</td>
      </tr>
      <tr>
        <td>DAC</td>
        <td>Direct Air Capture</td>
      </tr>
      <tr>
        <td>RSTA</td>
        <td>Rapid Thermal Swing Adsorption</td>
      </tr>
      <tr>
        <td>UOA</td>
        <td>University of Alberta</td>
      </tr>
      <tr>
        <td>ASU</td>
        <td>Air Supply Unit</td>
      </tr>
      <tr>
        <td>J40 / J40I</td>
        <td>Justice 40 Initiative</td>
      </tr>
      <tr>
        <td>QJ</td>
        <td>Quality Jobs</td>
      </tr>
      <tr>
        <td>SHPE</td>
        <td>Society of Hispanic Professional Engineers</td>
      </tr>
      <tr>
        <td>NSBE</td>
        <td>National Society of Black Engineers</td>
      </tr>
      <tr>
        <td>CAB</td>
        <td>Community Advisory Board</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
{% block title%}Acronym Sheet{% endblock %}