{% extends "footer.html" %}
{% block mainContent%}
{{ super() }}
<div class="main-content">
  <div id ="top-items">
    <div id= "contact-cbp">
      <p id = "contact-cbp-cont">Please contact us at <a id="contact-us-bar" href="mailto:communitybenefits@tda.com?">communitybenefits@tda.com</a>, see the form below as well. Additionally, are you interested in becoming a <a href="DAC-Plant.html">CAB Member</a>?  <p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="intro-para">
      <p>At TDA, we pursue scientific and technological innovations that can lead to advanced technologies and products. TDA has been developing and commercializing carbon capture technologies and other supporting industrial processes in the past three decades.  Our projects, both the small bench-scale demonstrations and the much larger pilot projects can have a significant impact on the communities both at TDA’s home in Colorado and at the pilot locations.  TDA has a commitment to educate the communities impacted from our projects and solicit feedback about project goals.  Our community benefits plan (CBP) provides information about these projects:</p>
    </div> 
  </div>
  <div id="projects">
    <h1>Community Benefits Plan (CBP) Projects</h1>

    <hr class = "partial-hr-1">
    <hr class = "hidden-hr">
    <p>Each project has its own page, detailing how it plans on helping the community and how the impact will be measured. Click on the project name below for more details on that specific plan.</p>
  </div>
  <div id="pro-list">
    <div>
      <a href="3D-DAC.html">
        <img class="pro-img" src="static\3D_Printer_400x450pxl.png">
      </a>
      <a href="3D-DAC.html"><p class = "pro-title">3D Printed Engineered Structures for High Performance Direct Air Capture System <span>Click to See More</span></p></a>
    </div>
    <div>
      <a href="Air-Sep.html">
        <img class="pro-img" src="static\AdvAirSep_400x450pxl.png">
      </a>
      <a href="Air-Sep.html"><p class = "pro-title">Advanced Air Separation Unit (ASU) for Low-Cost H2 Production Via Modular Gasification</p></a>
      
    </div>
    <div>
      <a href="Coated-Hex.html">
        <img class="pro-img" src="static\AdvancedEngineeredStructures.png">
      </a>
      <a href="Coated-Hex.html"><p class = "pro-title">Advanced Engineered Structures for High Performance Direct Air Capture System</p></a>
    </div>
    <div>
      <a href="DACtoMeOH.html">
        <img class="pro-img" src="static\MethanolSynthesis_400x450pxl.png">
      </a>
      <a href="DACtoMeOH.html"><p class = "pro-title">Efficient Integrated Methanol Synthesis Using Carbon from Direct Air Capture</p></a>
    </div>
    <div>
      <a href="DAC-Plant.html">
        <img class="pro-img" src="static\DryFork_CarbonCapturePilot.png">
      </a>
      <a href="DAC-Plant.html"><p class = "pro-title">Carbon Capture Pilot at Dry Fork Power Station</p> </a>
    </div>
  </div>
  <div id="buzz">
    <a id="buzz-title" href="buzz.html">
      <h1>Acronym Sheet</h1>
    </a>
    <hr class="partial-hr-1">
    <hr class = "hidden-hr">
    <p><a href = "buzz.html">Click here</a> for acronyms that will be used across the CBP projects.</p>
  </div>
  <div id = "contact-form-email">
    <h1>Contact Form</h1>
    <hr class = "partial-hr-1">
    <hr class = "hidden-hr">
    <p>Give us your feedback about any of these projects- please reach out!</p>
    <div id = "contact-form">
      <form id="form" action="mailto:communitybenefits@tda.com?">
        <div id = "name-bar">
          <input class ="text-bar" type="text" placeholder="Your Name" name="Name" autocomplete="name" required />
        </div>
        <!-- <div id = "email-bar" >
          <input class ="text-bar" type="text" placeholder="Email" name="email" autocomplete="email" required />
        </div> -->
        <div id = "message-bar">
          <textarea  type="body" id ="text-bar-large" placeholder="Message" name="Message" required autocomplete="off"></textarea>
        </div>
        <div id = "date">
          <input title= "don't type here"name="date" class="visually-hidden" tabindex="-1" autocomplete="off">
        </div>
        <div id = "submit">
          <button id="sub-but" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block title%}CBP{% endblock %}