{% extends "general-page.html" %}
{% block header %}
{{ super() }}
<header id="bar">
    <a class="tda-logo" id = "lower-logo" href="https://tda.com/"><img id="tda-logo-img-1" alt = "TDA Logo" src={{url_for('static', filename='TDA-Logo-FONTSCMYK-2-colored.jpg')}} ></a>
    <a class="tda-logo" href="https://tda.com/"><img id="tda-logo-img-2" alt = "TDA Logo" src={{url_for('static', filename='TDA-Logo-Website-200-x-103-colored.jpg')}}></a>
    <div id = "bar-but">
      <button type="button" onclick="navDropDown()" id = "bar-but-cont">&#8801;</button> 
    </div>
    <ul id="bar-list">
      <li class =  "hoverable" >
        <div class =  "hoverable"><a class="bar-cont" href="https://tda.com/connect/">Connect</a></div>
      </li>
      <li class =  "hoverable" >
        <div><a class="bar-cont" href="community-benefits-projects.html">Community Benefits</a></div>
      </li>
      <li class =  "hoverable" >
      <div><a class="bar-cont" href="https://tda.com/working-with-tda/">Working With TDA</a></div>
        <div class = "hover-sub-menu" id = "hover-sub-menu-4">
          <ul class = "hover-sub-list">
            <li><a class = "hover-sub-cont" href = "https://tda.com/contracting/">Government Contracting</a></li>
            <li><a class = "hover-sub-cont" href = "https://tda.com/clients/">Commercial Partners</a></li>
            <li><a class = "hover-sub-cont" href = "https://tda.com/safety-and-regulatory/">Safety and Regulatory</a></li>
          </ul>
        </div>
      </li>
      <li class =  "hoverable" >
        <div><a class="bar-cont" href="https://tda.com/publications/">Publications</a></div>
      </li>
      <li class =  "hoverable" >
        <div><a class="bar-cont" href="https://tda.com/patents/">Patents</a></div>
      </li>
      <li class =  "hoverable" >
        <div><a class="bar-cont" href="https://tda.com/products/">Products</a></div>
        <div class = "hover-sub-menu" id = "hover-sub-menu-3">
          <ul class = "hover-sub-list">
            <li><a class = "hover-sub-cont" href = "https://tda.com/product-customers/">Commercial Products</a></li>
            <li><a class = "hover-sub-cont" href = "https://tda.com/chemical-processes/">Chemical Processes</a></li>
          </ul>
        </div>
      </li>
      <li class =  "hoverable" >
        <div><a class="bar-cont" href="https://tda.com/emerging-technologies/">Technologies</a></div>
        <div class = "hover-sub-menu" id = "hover-sub-menu-2">
          <ul class = "hover-sub-list">
            <li><a class = "hover-sub-cont" href = "https://tda.com/emerging-technologies-2/">Emerging Technologies</a></li>
            <li><a class = "hover-sub-cont" href = "https://tda.com/markets-and-applications/">Markets and Applications</a></li>
          </ul>
        </div>
      </li>
      <li class =  "hoverable" >
        <div><a class="bar-cont" href="https://tda.com/about-tda/">About TDA</a></div>
        <div class = "hover-sub-menu" id = "hover-sub-menu-1">
          <ul class = "hover-sub-list">
            <li><a class = "hover-sub-cont" href = "https://tda.com/tda-approach/">TDA Approach</a></li>
            <li><a class = "hover-sub-cont" href = "https://tda.com/capabilities/">Expertise</a></li>
            <li><a class = "hover-sub-cont" href = "https://tda.com/careers/">Careers</a></li>
          </ul>
        </div>
      </li>
    </ul>  
    <div id = "drop-down-links">
        <ul id = "bar-drop-links">
          <li><a class = "bar-drop-cont" href="https://tda.com/about-tda/">About TDA</a> 
            <button type="button" onclick="subNavDropDown(1)"class = "sub-drop-down">+</button>
            <ul class ="sub-list" id = "sub-list-1">
              <li><a class = "sub-cont" href = "https://tda.com/tda-approach/">TDA Approach</a></li>
              <li><a class = "sub-cont" href = "https://tda.com/capabilities/">Expertise</a></li>
              <li><a class = "sub-cont" href = "https://tda.com/careers/">Careers</a></li>
            </ul>
          </li>
          <li><a class = "bar-drop-cont" href="https://tda.com/emerging-technologies/">Technologies</a>
            <button type="button" onclick="subNavDropDown(2)"class = "sub-drop-down">+</button>
            <ul class ="sub-list" id = "sub-list-2">
              <li><a class = "sub-cont" href = "https://tda.com/emerging-technologies-2/">Emerging Technologies</a></li>
              <li><a class = "sub-cont" href = "https://tda.com/markets-and-applications/">Markets and Applications</a></li>
            </ul>
          </li>
          <li><a class = "bar-drop-cont" href="https://tda.com/products/">Products</a>
            <button type="button" onclick="subNavDropDown(3)"class = "sub-drop-down">+</button>
            <ul class ="sub-list" id = "sub-list-3">
              <li><a class = "sub-cont" href = "https://tda.com/product-customers/">Commercial Products</a></li>
              <li><a class = "sub-cont" href = "https://tda.com/chemical-processes/">Chemical Processes</a></li>
            </ul>
          </li> 
          <li><a class = "bar-drop-cont" href="https://tda.com/patents/">Patents</a></li>
          <li><a class = "bar-drop-cont" href="https://tda.com/publications/">Publications</a></li>
          <li><a class = "bar-drop-cont" href="https://tda.com/working-with-tda/">Working With TDA</a>
            <button type="button" onclick="subNavDropDown(4)"class = "sub-drop-down">+</button>
            <ul class ="sub-list" id = "sub-list-4">
              <li><a class = "sub-cont" href = "https://tda.com/contracting/">Government Contracting</a></li>
              <li><a class = "sub-cont" href = "https://tda.com/clients/">Commercial Partners</a></li>
              <li><a class = "sub-cont" href = "https://tda.com/safety-and-regulatory/">Safety and Regulatory</a></li>
            </ul>
          </li>
          <li><a class = "bar-drop-cont" href="community-benefits-projects.html">Community Benefits</a></li>
          <li><a class = "bar-drop-cont" href="https://tda.com/connect/">Connect</a> 
        </ul>
    </div>
</header>
{% endblock %}